@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
 }

/* --------------------NAVBAR STYLING----------------- */

.header{
    background-image: url(/assets/space3.png);
    background-size: cover;
    background-position: center;
    height: 115vh;
    width: 100%;
}

.navbar {
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Lato', sans-serif;
    transition: all 0.3s ease ;
}


.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-style: italic;
    text-decoration: none;
    padding-left: 200px;
}

.navbar .logo a span{
    color: #fff;
    font-weight: bold;
}

.navbar.sticky .logo a span{
    color: #fff;
    font-weight: bold;
}

.navbar .menu{
    margin-right: 450px;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
    
}


.navbar .menu li .menu-btn{
    display: block;
    text-transform: uppercase;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    border-bottom: 3px solid #3096d5;
    text-decoration: none;
}




.menu-btn{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

.btn{
    border-radius:42px;
	cursor:pointer;
	color:#ffffff;
	font-size: 0.9em;
	padding:7px 30px;
	text-decoration:none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.one{
    margin-left: 15px;
    background: rgb(255,200,221);
    background: linear-gradient(80deg, rgba(255,200,221,1) 0%, rgba(255,101,185,1) 100%);

}  

.two{
    background: rgb(137,39,221);
    background: linear-gradient(356deg, rgba(137,39,221,1) 0%, rgba(186,85,210,1) 100%);
    padding:15px 30px;
}

.btn.one:hover{
    background: rgb(255,101,185);
    background: linear-gradient(80deg, rgba(255,101,185,1) 0%, rgba(255,200,221,1) 100%);

}

.btn.two:hover{
    background: rgb(186,85,210);
    background: linear-gradient(356deg, rgba(186,85,210,1) 0%, rgba(137,39,221,1) 100%);
} 


/*----------------- HOME STYLING ------------------*/

.text-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    align-items: center;
}

.text-container .container{
    width: 40%;
    padding-left: 30px;
}

.text-container .container .titulo{
    color: #852cde;
    font-size: 10vh;
    padding-left: 10px;
    border-left: 5px solid #852cde;
}

.text-container .container .sub{
    color: #f8d3a6;
    font-style: italic;
    margin: 20px 0;
    font-size: 25px;
}


/* ----------------- NOSOTROS STYLING ----------------  */

.nosotros{
    height: 100vh;
    width: 100%;
    display: flex;
}


.nosotros-contenedor{
    display: block;
    width: 100%;
    justify-content: center; 
    
}

.contenedor{
    text-align: center;
}

.title{
    width: 100%;
    color: #852cde;
    font-size: 30px;
    margin-top: 3%;
}

.contenido{
    width: 100%;
    height: 90vh;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.imagen{
    width: 40%;
}

.texto{
    background: rgb(25, 25, 25);
    background: linear-gradient(176deg, rgba(159,66,217,1) 33%, rgba(244,184,221,1) 99%, rgba(255,200,221,1) 100%);
    width: 40%;
    text-align: justify;
    font-size: 21px;
    padding: 10px;
}

.texto p{
    padding: 7px;
    color: #fff;
}

.texto span{
    font-style: italic;
}


/* ----------------- SERVICIOS STYLING ----------------  */

.servicios{
    height: 100vh;
    width: 100%;
    display: flex;
}


.container-services{
    width: 100%;
    text-align: center;
}

.servicios .container-services .title{
    color: #f98fc5;
    margin-bottom: 40px;
}

.serv-content{

    display: flex;
    justify-content: space-around; 
}

.card{
    width: 25%;
    background:#fff;
    text-align: center;
    border-radius: 6px;
    padding: 40px 20px;
    cursor: pointer;
    font-size: 30px;
    border: #f8d3a6 1px solid;
}

/* .card:hover{
    background: white;
} */

.box{
    transition: all 0.3s ease;
}

.servicios .serv-content .card:hover .box{
    transform: scale(1.05);
}

.card i{
    font-size: 50px;
    color:#f8d3a6;
    transition: 0.3s ease all;
}


.servicios .serv-content .card .text{
    font-size: 35px;
    font-weight: bold;
    margin: 10px 0 7px 0;
    color: #ffa48e;
}

.box p{
    color: #f8d3a6;
    padding: 15px 0;
}

/* ---------------------CONTACTO STYLING ------------------------*/

.contact {
    background-image: url(/assets/space3.png);
    background-size: cover;
    background-position:left;
    height: 90vh;
    width: 100%;
    display: flex;
}

.contact .contenedor{
    margin: 10px auto;
    width: 50%;
    height: 630px;
    background: rgb(35,49,120);
    background: linear-gradient(172deg, rgba(35,49,120,1) 0%, rgba(21,111,215,1) 100%);
}

.contact .contenedor .title{
    color: #fff;
}
.contact form{
    text-align: center;
    padding: 1rem;
}

.contact form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .inputBox input,
.contact form textarea{
    padding: 0.8rem;
    font-size: 1.2rem;
    background: #fff;
    text-transform: none;
    margin: 1rem 0;
    width: 46%;

}

.contact form textarea{
    height: 15rem;
    resize: none;
    width: 96.7%;
}


/*------------------------- NEWSLETTER STYLING----------------------- */


.newsletter{
    background-image: url(/assets/space2.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 5rem 2rem;
}

.newsletter h3{
    font-size: 3rem;
    color: #852cde ;
}

.newsletter form {
    max-width: 55rem;
    display: flex;
    align-items: center;
    margin: 1rem auto;
    padding: 1.5rem;
    background: #852cde27;
}

.newsletter form .box{
    width: 100%;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    text-transform: none ;
}

.newsletter form .btn{
    margin: 10px;
}


/* ------------------FOOTER STYLING --------------------*/

footer{
    background: rgb(35,49,120);
    background: linear-gradient(90deg, rgba(35,49,120,1) 0%, rgba(234,129,200,1) 100%);
    padding: 20px 23px;
    color: #fff;
    text-align: center;
}

footer span a{
    font-style: italic;
    text-decoration: none;
    color: #fff;
}

footer span a:hover{
    text-decoration: underline;
}

/* -------------------- MEDIA QUERYES! ------------------------------ */

@media (max-width: 1255px){

    
    .contenedor{
        display: flex;
        flex-wrap: wrap;
    }

    .contenido{
        display: table-row;
        flex-direction: row;
    }

    .nosotros-contenedor .contenedor .title{
        font-size: 20px;
        margin: 20px 0;
    }


    .texto{
        width: 97%;
        padding: 20px 5px;
    }

    .texto p{
        font-size: 16px;
        padding: 5px 0;
    }

    

    .serv-content {
        display: block;
    }


    .card {
        width: 80%;
        margin: 20px auto;
    }

    .servicios .serv-content .card .text{
        font-size: 30px;
    }

    .servicios .serv-content .card .box p{
        font-size: 20px;
    }


}


@media (max-width: 982px){
    .navbar .logo a{
        padding-left: 10px;
    }
    
    .menu-btn{
        display: block;
        z-index: 999;
        padding-right: 10px;
    }

    .menu-btn i.active:before{
        content: "\f00d";
    }

    .navbar .menu{
       position: fixed; 
       height: 100vh;
       width: 100%;
       left: -200%;
       top: 0;
       background: #25286b;
       text-align: center;
       padding-top: 80px;
       transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    

    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 20px; 
    }

    .navbar .menu li .menu-btn {
        border: none;
        font-size: 22px;
    }


    .two{
        font-size: 20px;
    }

    

}


@media (max-width: 670px){

    html{
        overflow-x: scroll;
    }

    .text-container .container{
        width: 70%;
    }

    .text-container .container .titulo{
        font-size: 5vh;
    }

    .text-container .container .sub{
        font-size: 16px;
    }

    .btn{
        font-size: 0.8em;
        padding:7px 30px;
        letter-spacing: 2px;
    }

    .nosotros{
        height: 78vh;
    }

    .imagen{
        display: none;
    }

    .servicios{
        height: auto;
    }

    .servicios .container-services .title{
        font-size: 22px;
    }

    .contact .contenedor {
        margin: 0;
        width: 100%;
        height: auto;
    }

    .contact .contenedor .title {
        color: #fff;
        font-size: 23px;
    }

    .contact form .inputBox {
        flex-wrap: nowrap;
    }

    .contact form textarea {
        height: 5rem;
    }

    .contact form .inputBox input, .contact form textarea {
        margin: 1rem 0.1em;
        width: 90%;
    }

    .newsletter form {
        width: 100%;
        display: block;
    }

    .newsletter h3 {
        font-size: 2.5rem;
    }

    .newsletter form {
        width: auto;
    }

    .newsletter form .box {
        width: 80%;
    }
}

@media (max-width: 350px){
    .nosotros{
        height: 75vh;
    }

    .contact .contenedor{
        height: 80vh
    }
}







 








